[user]
  email = mail@g1eb.com
  name = g1eb
[core]
  editor = vim
  excludesfile = /Users/gleb/.gitignore
[push]
  default = simple
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
  ui = true
[pull]
  rebase = false
[init]
  defaultBranch = main
